.body{
    text-align: center; /*inherited*/
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
.head{
    text-align: center;
}
.text{
    text-align: center; /*inherited*/
    border: 1px solid black; 
    display: block;
    width: 25vw;
    position: absolute;
    right: 0px;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
    min-width: 319px;
    background-color: white;
    z-index: 1;
}
.text h1{
    margin: 0px;
}
.text blockquote{
    margin: 10px;
}
.body .picture{
    @media only screen and (min-width: 1000px) {
        position: absolute;
        width: calc(100% - 319px);
        height: 100vh;
        left: 0px;
        border: 1px solid black;
        box-sizing: border-box;
    }
    @media only screen and (max-width: 1000px) {
    .body .picture {
        display: static;
        z-index: -1;
    }
}
}
.text h2{
    font-size: 22px; /*inherited*/
}
.settings{
    text-align: right;
    display: block;
}
.settings h6{
    margin: 0px;
}
.text blockquote{
    height: 350px;
    overflow: auto;
}
.cta {
    position: static; /*absolute = relative to nearest parent, fixed = relative to the viewport, static = just where it is*/
    margin-top: 40px;
    display: block;
}
/* make it so that when reducing the width of the browser, the image will shrink until a certain point and then the text will slide over it. Search up media queries */

